"$schema" = "https://starship.rs/config-schema.json"

format = "$username$os$container$hostname$all"
command_timeout = 1000

[username]
disabled = false
show_always = true
format = '[$user]($style) '

[hostname]
disabled = false
ssh_only = false
ssh_symbol = "{{ (fromToml (output "starship" "preset" "nerd-font-symbols")).hostname.ssh_symbol }}"
{{ if (gt (len (env "CONTAINER_ID")) 0) -}}
# Is running in Distrobox -> hide hostname to prevent duplicate output
format = '[$ssh_symbol]($style)[distrobox](bold dimmed red) in '
style = 'bold dimmed green'
{{- end }}

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

[shell]
disabled = false
format = '[$indicator]($style)'
style = "dimmed"

[os]
disabled = false
style = "bold green"
{{ if (lstat "/run/ostree-booted") -}}
# Is running in atomic Fedora variant -> add "atom" symbol after OS symbol
format = '[$symbol󰝨]($style) '
{{ else if (gt (len (env "CONTAINER_ID")) 0) -}}
# Is running in atomic Fedora variant -> add "play box" symbol after OS symbol
format = '[$symbol󰐋]($style) '
{{- end }}

[container]
disabled = false
format = '[\[$symbol$name\]]($style) '
style = 'bold bg:red fg:black'

# Preset nerd-font-symbols START
{{ includeTemplate "starship/preset-nerd-font-symbols.tmpl" }}
# Preset nerd-font-symbols END
